<div class="div-header div-lg">
  <h1 class="h1-welcome"></h1>
    <div class="div-userMenu">
      <i class="fa fa-chevron-left fa-white"></i>
    
      <input type="hidden" name="task" class="input-dropdown-value">
      <ul class="ul-dropdown-menu dropdown-menu">
        <li class='li-users'>User accounts</li>
        <li class='li-tasks'>My tasks</li>
        <li class='li-logoff'>Log off</li>
      </ul>
    </div>
    <div class="div-usermenu-image">
    <img src="./images/vector.png" height="33" width="26" class="img-userMenu">
    </div>
  </div>